container_commands:
  00collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: rescate_project.settings

  aws:elasticbeanstalk:container:python:
    WSGIPath: rescate_project/wsgi.py

  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"